div.AO {
  border: .1rem solid black;
  width: 32rem;
  margin: 5rem auto;
  padding: 1rem;
  background-color: #f2f2f2;
}

div.AO div.slot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 10rem; */
  /* border: .1rem solid black; */
  padding: 1rem;
  
}

div.AO div.slot label {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

div.AO div.slot img {
  width: 8rem;
  margin: 0 auto;
  
}

div.AO div.slot input { 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  font-family: sans-serif;
  font-size: 1rem;
}